
html,
body {
  margin: 0;
  padding: 0;

  overflow: hidden;
}

.container{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ========================= SIDE ========================= */
.left{
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 40px;
  color: white;

  position: absolute;
  left: 0;
  width: 30%;

  display: flex;
  flex-direction: column;

  z-index: 5;
}

.right{
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 40px;
  color: white;

  position: absolute;
  right: 0;
  width: 15%;

  display: flex;
  flex-direction: column;

  text-align: right;

  z-index: 5;
}

.box{
  margin-bottom: 30px;
  filter: drop-shadow(15px 8px 10px rgba(0, 0, 0, .8));

  transform: rotate(3deg);
}

.box span{
  display: block;
  position: relative;
}

.box::before{
  content: '';
  position: absolute;
  left: -40px;

  height: 55px;
  width: 55%;

  background-color: #181717;
}

#box1::before{
  animation: grow 1.2s cubic-bezier(0.86, 0, 0.07, 1);
}

#box2::before{
  animation: grow 1.5s cubic-bezier(0.86, 0, 0.07, 1);
}

#box3::before{
  animation: grow 1.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.box-right button{
  cursor: pointer;
}

.box-right{
  margin-bottom: 30px;
  filter: drop-shadow(15px 8px 10px rgba(0, 0, 0, .8));

  transform: rotate(-3deg);
}

.box-right::before{
  content: '';
  position: absolute;
  right: -40px;

  height: 55px;
  width: 100%;

  background-color: #181717;
}

#go::before{
  animation: growright 2.2s cubic-bezier(0.86, 0, 0.07, 1);
}

@keyframes growright {
  from{
    width: 0%;
  }

  80%{
    width: 0%;
  }

  to{
    width: 100%;
  }
}

@keyframes grow {
  from{
    width: 0%;
  }

  to{
    width: 55%;
  }
}



.glitch {
  position: relative;
  color: white;

  cursor: default;
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  /* Creates an initial clip for our glitch. This works in
  a typical top,right,bottom,left fashion and creates a mask
  to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
  with an alternating animation to keep things fresh. */
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
}

.glitch:hover{
  animation: glitch-skew 1s infinite linear alternate-reverse;
}

.glitch:hover::after{
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

.glitch:hover::before{
  text-shadow: -2px 0 #ff00c1;
  animation: glitch-anim 5s infinite linear alternate-reverse;
}


@keyframes glitch-anim {
  0% {
    clip: rect(41px, 9999px, 50px, 0);
    transform: skew(0.58deg);
  }
  5% {
    clip: rect(5px, 9999px, 59px, 0);
    transform: skew(0.59deg);
  }
  10% {
    clip: rect(50px, 9999px, 77px, 0);
    transform: skew(0.31deg);
  }
  15% {
    clip: rect(86px, 9999px, 54px, 0);
    transform: skew(0.44deg);
  }
  20% {
    clip: rect(32px, 9999px, 66px, 0);
    transform: skew(0.35deg);
  }
  25% {
    clip: rect(29px, 9999px, 18px, 0);
    transform: skew(0.38deg);
  }
  30% {
    clip: rect(43px, 9999px, 41px, 0);
    transform: skew(0.29deg);
  }
  35% {
    clip: rect(79px, 9999px, 28px, 0);
    transform: skew(0.84deg);
  }
  40% {
    clip: rect(50px, 9999px, 19px, 0);
    transform: skew(0.38deg);
  }
  45% {
    clip: rect(5px, 9999px, 25px, 0);
    transform: skew(0.61deg);
  }
  50% {
    clip: rect(97px, 9999px, 100px, 0);
    transform: skew(0.97deg);
  }
  55% {
    clip: rect(51px, 9999px, 16px, 0);
    transform: skew(1deg);
  }
  60% {
    clip: rect(20px, 9999px, 21px, 0);
    transform: skew(0.19deg);
  }
  65% {
    clip: rect(71px, 9999px, 27px, 0);
    transform: skew(0.7deg);
  }
  70% {
    clip: rect(68px, 9999px, 83px, 0);
    transform: skew(0.91deg);
  }
  75% {
    clip: rect(34px, 9999px, 93px, 0);
    transform: skew(0.05deg);
  }
  80% {
    clip: rect(19px, 9999px, 82px, 0);
    transform: skew(0.43deg);
  }
  85% {
    clip: rect(40px, 9999px, 69px, 0);
    transform: skew(0.36deg);
  }
  90% {
    clip: rect(37px, 9999px, 40px, 0);
    transform: skew(0.55deg);
  }
  95% {
    clip: rect(22px, 9999px, 28px, 0);
    transform: skew(0.59deg);
  }
  100% {
    clip: rect(90px, 9999px, 86px, 0);
    transform: skew(0.4deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(67px, 9999px, 42px, 0);
    transform: skew(0.46deg);
  }
  5% {
    clip: rect(28px, 9999px, 11px, 0);
    transform: skew(0.92deg);
  }
  10% {
    clip: rect(57px, 9999px, 83px, 0);
    transform: skew(0.25deg);
  }
  15% {
    clip: rect(25px, 9999px, 3px, 0);
    transform: skew(0.66deg);
  }
  20% {
    clip: rect(78px, 9999px, 60px, 0);
    transform: skew(1deg);
  }
  25% {
    clip: rect(4px, 9999px, 18px, 0);
    transform: skew(0.43deg);
  }
  30% {
    clip: rect(64px, 9999px, 89px, 0);
    transform: skew(0.97deg);
  }
  35% {
    clip: rect(27px, 9999px, 53px, 0);
    transform: skew(0.71deg);
  }
  40% {
    clip: rect(42px, 9999px, 15px, 0);
    transform: skew(0.8deg);
  }
  45% {
    clip: rect(30px, 9999px, 34px, 0);
    transform: skew(0.65deg);
  }
  50% {
    clip: rect(9px, 9999px, 76px, 0);
    transform: skew(0.3deg);
  }
  55% {
    clip: rect(21px, 9999px, 65px, 0);
    transform: skew(0.98deg);
  }
  60% {
    clip: rect(84px, 9999px, 83px, 0);
    transform: skew(0.33deg);
  }
  65% {
    clip: rect(78px, 9999px, 98px, 0);
    transform: skew(0.56deg);
  }
  70% {
    clip: rect(26px, 9999px, 71px, 0);
    transform: skew(0.48deg);
  }
  75% {
    clip: rect(29px, 9999px, 38px, 0);
    transform: skew(0.52deg);
  }
  80% {
    clip: rect(78px, 9999px, 41px, 0);
    transform: skew(0.94deg);
  }
  85% {
    clip: rect(65px, 9999px, 38px, 0);
    transform: skew(0.81deg);
  }
  90% {
    clip: rect(82px, 9999px, 87px, 0);
    transform: skew(0.76deg);
  }
  95% {
    clip: rect(34px, 9999px, 80px, 0);
    transform: skew(0.72deg);
  }
  100% {
    clip: rect(76px, 9999px, 93px, 0);
    transform: skew(0.01deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(4deg);
  }
  10% {
    transform: skew(-1deg);
  }
  20% {
    transform: skew(1deg);
  }
  30% {
    transform: skew(2deg);
  }
  40% {
    transform: skew(-4deg);
  }
  50% {
    transform: skew(-2deg);
  }
  60% {
    transform: skew(-4deg);
  }
  70% {
    transform: skew(-3deg);
  }
  80% {
    transform: skew(4deg);
  }
  90% {
    transform: skew(3deg);
  }
  100% {
    transform: skew(2deg);
  }
}

/* ========================= MEDUSA ========================= */
.medusa-container{
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  
}

.eye{
  width: 150px;
  position: absolute;
  margin-top: -70px;
  filter: drop-shadow(15px 8px 10px rgba(0, 0, 0, .8));

  animation: eye-float 2.2s ease-in-out alternate-reverse infinite;
  z-index: 3;
}


.medusa{
  height: 80vh;
  position: absolute;
  filter: drop-shadow(15px 8px 10px rgba(0, 0, 0, 0.5));

  animation: floatcommon 2s ease-in-out alternate-reverse infinite;
  z-index: 2;
}

.medusa-pink{
  height: calc(80vh + 10px);
  animation: floatcommon 2.2s ease-in-out alternate-reverse infinite;
  z-index: 1;
}

.medusa-blue{
  height: calc(80vh + 10px);
  animation: floatcommon 2.4s ease-in-out alternate-reverse infinite;
  z-index: 1;
}

.medusa:hover{
  animation: float 2s ease-in-out alternate-reverse infinite;
}

.medusa:hover .medusa-pink{
  animation: float 2.2s ease-in-out alternate-reverse infinite;
}

.medusa:hover .medusa-blue{
  animation: float 2.4s ease-in-out alternate-reverse infinite;
}

@keyframes float {
  from{ 
    transform: translateY(-10px) translateX(-5px);
  }

  30%{ 
    transform: translateY(0) translateX(5px);
  }

  80%{ 
    transform: translateY(5px) translateX(10px);
  }

  to{ 
    transform: translateY(10px) translateX(-5px);
  }
}

@keyframes floatcommon {
  from{ 
    transform: translateY(-10px);
  }

  to{ 
    transform: translateY(10px);
  }
}


@keyframes eye-float {
  from{ 
    transform: translateY(-5px);
  }

  to{ 
    transform: translateY(5px);
  }
}

/* ========================= CLOUD ========================= */
.cloud-scene{
  position: absolute;
  width: 100%;
  height: 100%;

  animation: float3d 2s ease-in-out alternate-reverse infinite;
  pointer-events: none;
  z-index: 5;
}

@keyframes float3d {
  from{ 
    transform: translateY(-5px);
  }

  to{ 
    transform: translateY(5px);
  }
}

/* ========================= BACKGROUND ========================= */
#background{
    position: fixed;
    z-index: -1;

    filter: blur(1px);

    width:100%;
    height: auto;
}

/* ========================= OVERLAY ========================= */
.overlay1, .overlay2, .overlay3{
  position: absolute;
  top: 0;
  left: 0;
  
  background-color: #181717;

  height: 33.5%;
  width: 0%;

  z-index: 10;
}

.overlay2{ top: 33.3%; }
.overlay3{ top: 66.6%; }

/* ========================= NEW ========================= */
.new {
  display: none;
  align-items: center;
  justify-content: center;

  font-family: 'Rubik Mono One', sans-serif;

  width: 100%;
  height: 100%;

  opacity: 0;
}

.text{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;

  width: 100vw;
  height: calc(100vh - 60px);
}

.text > h1 {
  font-size: 40px;
}

.text > span {
  text-decoration: overline;
}